body {
    height: 3000px 
    
}

#value{
    position:fixed;
    top: 10px;
        left: 10px;
    border-bottom: 1px solid black;
}

div {

}

#deeper {
    position:fixed;
    left: 600px;
    top: 670px
}

#value_two {
    
    position: absolute;
    top: 3000px;
    margin-left: 0px;
}

a{
    text-decoration: none;
    border: solid 1px black;
    color: black;
    padding: 5px;
}