body{
    
    width: 4000px;
}

#deep{
    
    font-size: 50px;
    font-family: impact;
    position:fixed;
    top: -60px;
    left: 100px;
}

.para {
    
    font-family: helvetica;
}

#value {
    text-transform: uppercase;
    font-family: impact;
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 3800px;
}

a{
    text-decoration: none;
    border: solid 1px black;
    color: black;
    padding: 5px;
}